body {
    background-color: rgb(245, 202, 235); 
    color: rgb(64, 50, 55);
    text-align: center;
   
  }
  #main{
    font-family: 'Roboto Serif', serif;
   
  }
  #title{
      text-decoration-line: underline;
      font-size: 30px;
  }
  img{ 
    border-radius: 50%;
    border:5px solid rgb(242, 160, 223);
  }
  .center{
      display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }
     
  .subtitle{
    text-decoration-line: underline;
    font-size: 25;
  }/* Copy and paste your CSS from CodePen into here */
